# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.class
*.class
bin/bullethell/BulletPanel.class
bin/bullethell/Coords.class
bin/bullethell/entity/bullet/Bullet.class
bin/bullethell/entity/bullet/EnemyBullet.class
bin/bullethell/entity/bullet/EnemyBulletAngular.class
bin/bullethell/entity/bullet/EnemyBulletAngularAccel.class
bin/bullethell/entity/bullet/EnemyBulletAngularHoming.class
bin/bullethell/entity/bullet/EnemyBulletAngularRotational.class
bin/bullethell/entity/bullet/EnemyBulletBomb.class
bin/bullethell/entity/bullet/EnemyBulletNoAccel.class
bin/bullethell/entity/bullet/EnemyBulletShape.class
bin/bullethell/entity/bullet/PlayerBullet.class
bin/bullethell/entity/bullet/PlayerBulletAngular.class
bin/bullethell/entity/bullet/PlayerBulletAngularHoming.class
bin/bullethell/entity/bullet/PlayerBulletBomb.class
bin/bullethell/entity/bullet/PlayerBulletNoAccel.class
bin/bullethell/entity/ship/EnemyShip.class
bin/bullethell/entity/ship/EnemyShipBasic.class
bin/bullethell/entity/ship/EnemyShipBigGreen.class
bin/bullethell/entity/ship/EnemyShipBigRed.class
bin/bullethell/entity/ship/EnemyShipBigYellow.class
bin/bullethell/entity/ship/EnemyShipBoss.class
bin/bullethell/entity/ship/EnemyShipBossRed.class
bin/bullethell/entity/ship/EnemyShipGreen.class
bin/bullethell/entity/ship/EnemyShipRed.class
bin/bullethell/entity/ship/EnemyShipYellow.class
bin/bullethell/entity/ship/PlayerShip$PlayerKeyAdapter.class
bin/bullethell/entity/ship/PlayerShip.class
bin/bullethell/entity/ship/Ship.class
bin/bullethell/GamePanel.class
bin/bullethell/Main$GameTick.class
bin/bullethell/Main.class
bin/utility/Hitbox.class
